
.highlighter-rouge code, .highlighter-rouge pre{color:#fdce93;background-color:#3f3f3f}
.highlighter-rouge .hll{background-color:#222}
.highlighter-rouge .c{color:#7f9f7f}
.highlighter-rouge .err{color:#e37170;background-color:#3d3535}
.highlighter-rouge .g{color:#7f9f7f}
.highlighter-rouge .k{color:#f0dfaf}
.highlighter-rouge .l{color:#ccc}
.highlighter-rouge .n{color:#dcdccc}
.highlighter-rouge .o{color:#f0efd0}
.highlighter-rouge .x{color:#ccc}
.highlighter-rouge .p{color:#41706f}
.highlighter-rouge .cm{color:#7f9f7f}
.highlighter-rouge .cp{color:#7f9f7f}
.highlighter-rouge .c1{color:#7f9f7f}
.highlighter-rouge .cs{color:#cd0000;font-weight:bold}
.highlighter-rouge .gd{color:#cd0000}
.highlighter-rouge .ge{color:#ccc;font-style:italic}
.highlighter-rouge .gr{color:red}
.highlighter-rouge .gh{color:#dcdccc;font-weight:bold}
.highlighter-rouge .gi{color:#00cd00}
.highlighter-rouge .go{color:gray}
.highlighter-rouge .gp{color:#dcdccc;font-weight:bold}
.highlighter-rouge .gs{color:#ccc;font-weight:bold}
.highlighter-rouge .gu{color:purple;font-weight:bold}
.highlighter-rouge .gt{color:#0040D0}
.highlighter-rouge .kc{color:#dca3a3}
.highlighter-rouge .kd{color:#ffff86}
.highlighter-rouge .kn{color:#dfaf8f;font-weight:bold}
.highlighter-rouge .kp{color:#cdcf99}
.highlighter-rouge .kr{color:#cdcd00}
.highlighter-rouge .kt{color:#00cd00}
.highlighter-rouge .ld{color:#cc9393}
.highlighter-rouge .m{color:#8cd0d3}
.highlighter-rouge .s{color:#cc9393}
.highlighter-rouge .na{color:#9ac39f}
.highlighter-rouge .nb{color:#efef8f}
.highlighter-rouge .nc{color:#efef8f}
.highlighter-rouge .no{color:#ccc}
.highlighter-rouge .nd{color:#ccc}
.highlighter-rouge .ni{color:#c28182}
.highlighter-rouge .ne{color:#c3bf9f;font-weight:bold}
.highlighter-rouge .nf{color:#efef8f}
.highlighter-rouge .nl{color:#ccc}
.highlighter-rouge .nn{color:#8fbede}
.highlighter-rouge .nx{color:#ccc}
.highlighter-rouge .py{color:#ccc}
.highlighter-rouge .nt{color:#9ac39f}
.highlighter-rouge .nv{color:#dcdccc}
.highlighter-rouge .ow{color:#f0efd0}
.highlighter-rouge .w{color:#ccc}
.highlighter-rouge .mf{color:#8cd0d3}
.highlighter-rouge .mh{color:#8cd0d3}
.highlighter-rouge .mi{color:#8cd0d3}
.highlighter-rouge .mo{color:#8cd0d3}
.highlighter-rouge .sb{color:#cc9393}
.highlighter-rouge .sc{color:#cc9393}
.highlighter-rouge .sd{color:#cc9393}
.highlighter-rouge .s2{color:#cc9393}
.highlighter-rouge .se{color:#cc9393}
.highlighter-rouge .sh{color:#cc9393}
.highlighter-rouge .si{color:#cc9393}
.highlighter-rouge .sx{color:#cc9393}
.highlighter-rouge .sr{color:#cc9393}
.highlighter-rouge .s1{color:#cc9393}
.highlighter-rouge .ss{color:#cc9393}
.highlighter-rouge .bp{color:#efef8f}
.highlighter-rouge .vc{color:#efef8f}
.highlighter-rouge .vg{color:#dcdccc}
.highlighter-rouge .vi{color:#ffffc7}
.highlighter-rouge .il{color:#8cd0d3}
